@charset "utf-8";

/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@100..700&display=swap');

:root{
    --background: #010817;
    --red: #ee205a;
    --red-hover: #f33067;
    --gradient-black1: #26102e;
    --gradient-black2: #050d1b;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;  /* "auto" or "thin" */
    scrollbar-color: var(--gradient-black2) var(--background) ;   /* scroll thumb and track */   
}   

/* scroll bar personalization */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: var(--background);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--gradient-black1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--gradient-black2);  /* creates padding around scroll thumb */
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    overflow-x: hidden;
}

body{
    background-color: var(--background); 
    color: white;
    font-family: "Poppins", sans-serif;
}

main{
    padding: 0 10vw;
}

.red{
    color: var(--red);
}

/* header */

header{
    width: 100vw;
}

#container-header{
    display: flex;
    align-items: center;
}

#logo{
    display: block;
    margin-right: auto;
    width: 200px;
    padding: 20px 20px;
}

#menu-toggle{
    font-size: 2em;
    margin-left: auto;
    margin-right: 20px;
    display: block;
    cursor: pointer;
    overflow-y: hidden;
}

menu{
    display: none;
}

.nav-links{
    font-size: 1.2em;
    font-family: "Roboto Mono", monospace;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--red);
    color: white;
}

.nav-links:hover{
    background-color: var(--red-hover);
}

/* intro */ 

#name{
    font-size: 2.4em;
    margin: 20px 0;
}

#intro-desc{
    font-size: 1.2em;
    display: block;
}

#intro-img{display: none;}

/* about me */

.title{
    color: var(--red);
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

#about p{
    font-size: 1em;
}

.skill-card{
    background-image: radial-gradient(circle, var(--gradient-black1), var(--gradient-black2));
    padding: 10px 10px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 500px;
}

.card-title{
    text-align: center;
    margin: 15px;
}

.card-desc{
    margin: 20px;
}

.skill-img{
    display: block;
    margin: auto;
    width: 100px;
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px;
}

/* projects */

#projects{
    margin-bottom: 30px;
}

#slider {
    display: flex;
}
  
.slide{
    display: block;
    width: 90vw;
    margin: 15px auto;
    
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slide img{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    animation-name: fade;
    animation-duration: 1s;
}
  
.slide-content {
    color: white;
    text-align: center;
}
  
  /* Estilos para os botões de navegação */
.slider-btn {
    display: block;
    background-color: var(--gradient-black1);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
}

.slider-btn span{
    overflow-y: hidden;
}
  
.slider-btn:hover{
    background-color: var(--gradient-black2);
}


#btn-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
  

/* contact */

#contact{
    background-color: black;
    padding: 5px;
}

#social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{
    background-color: var(--red);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 5px;
    display: block;
    margin: 20px;
    transition: 0.5s;
}

.social-icon:hover{
    transform: translateY(-5px);
}

#email a {
    color: var(--red);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email a:hover{
    color: var(--red-hover);
}

#email{
    text-align: center;
    padding: 15px;
}

#email a::before{
    content: "\e158";
    font-family: "Material Symbols Outlined";
    color: var(--red);
    margin-right: 10px;
}

/* footer */

footer > p{
    padding: 10px;
    background-color: black;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}