@charset "utf-8";

/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono:wght@100..700&display=swap');

:root{
    --background: #010817;
    --red: #ee205a;
    --red-hover: #f33067;
    --gradient-black1: #26102e;
    --gradient-black2: #050d1b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

body{
    background-color: var(--background); 
    color: white;
    font-family: "Poppins", sans-serif;
}

/* header */

header{
    width: 100vw;
}

#container-header{
    display: flex;
    align-items: center;
}

#logo{
    display: block;
    margin-right: auto;
    width: 50vw;
    padding: 20px 20px;
}

#menu-toggle{
    font-size: 2em;
    margin-left: auto;
    margin-right: 20px;
    display: block;
    cursor: pointer;
}

menu{
    display: none;
}

#nav-links{
    font-size: 1.2em;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--red);
    color: white;
}

#nav-links:hover{
    background-color: var(--red-hover);
}

/* intro */ 

#name{
    font-size: 2.4em;
    margin: 1vh 10vw;
}

#intro-desc{
    font-size: 1.2em;
    display: block;
    margin: 0 10vw;
}

#intro-img{display: none;}

/* about me */

.title{
    color: var(--red);
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    margin: 3vh;
}

#about p{
    margin: 0vh 10vw;
    font-size: 1em;
}

.skill-card{
    background-image: radial-gradient(circle, var(--gradient-black1), var(--gradient-black2));
    margin: 5vh 10vw;
    padding: 10px 3px;
    border-radius: 10px;
}

.card-title{
    text-align: center;
    margin: 1vh;
}


.skill-img{
    display: block;
    margin: auto;
    width: 25%;
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px;
}

/* contact */

#contact{
    background-color: black;
    padding: 5px;
}

#social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{
    background-color: var(--red);
    width: 40%;
    border-radius: 10px;
    padding: 5px;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.social-icon:hover{
    transform: translateY(-5px);
}

#email a{
    color: var(--red);
    transition: 0.5s;
}

#email a:hover{
    color: var(--red-hover);
}

#email{
    text-align: center;
    padding: 15px;
}


/* footer */

footer > p{
    padding: 5px;
    display: block;
    width: 100vw;
    background-color: black;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    bottom: 0;
}